@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Автосалон "Корыто"</h1>
        <p>Добро пожаловать! Выбирайте наши качественные и надежные автомобили</p>
        <img src="~/Images/background.jpg" width="1000" height="500" />
    </div>
